.loader-container{
  display: flex;
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: rgb(0, 0, 0);
  
}

.loading-img{
  width: 280px; 
  height: 280px;
  padding-bottom: 7px;
  padding-right: -50px;
  margin: auto;
}
